<div class="container">
    <div class="row">
        <div class="col-md-12 text-center py-5">
            <h3>About this site</h3>
            <p>
                ssdgsdf sdfsdfjs jh jsehf   sue sueyrs is suey isuieyui ieiusyeur s

                ssdgsdf sdfsdfjs jh jsehf   sue sueyrs is suey isuieyui ieiusyeur s
                ssdgsdf sdfsdfjs jh jsehf   sue sueyrs is suey isuieyui ieiusyeur s
                ssdgsdf sdfsdfjs jh jsehf   sue sueyrs is suey isuieyui ieiusyeur s
                ssdgsdf sdfsdfjs jh jsehf   sue sueyrs is suey isuieyui ieiusyeur s
                ssdgsdf sdfsdfjs jh jsehf   sue sueyrs is suey isuieyui ieiusyeur s
                ssdgsdf sdfsdfjs jh jsehf   sue sueyrs is suey isuieyui ieiusyeur s

            </p>
            <button class="btn btn-success">Contact Us</button>
        </div>
    </div>
</div>