<div class="container-fluid text-center banner-background">
    <div class="row">
        <div class="col-md-12 py-5">
            <h1>Start Learning New Technology here!!</h1>
            <p>loer os eipw sdgafsbs vuyf kuyyriuft iutfituvjh gfituv ufituvb ovouvy ouyouyv voubjh yvouvoh jh ouvohj
                ovohjh vou hvvuvhj hvoyvoh hoyfoyvoboboiyg hj ouygoybohb obobhb gcotdouy voutfouvhbkl voyvhbkl vov
                hvohvjh ovhovl ugipublkh jhvohlh f</p>
            <button class="btn btn-outline-primary"> Start Learning</button>
        </div>
    </div>
</div>