<div class="container-fluid">
    <div class="row">

        <div class="col-md-4">
            {{!-- left side --}}
            <img src="/static/img/24758680_tourist_va_03.svg" height="400px" width="400px" alt="">

        </div>
        <div class="col-md-8 text-center py-5">
            {{!-- right side --}}
            <h1>We work for people not money</h1>
            <p>jgf igfit ifiu ufi utfiu iu ifu uyfi ut iuit riutfiuitf iufit fif
                uyf kjfiuy fuyf yu tfiu iu ifu uyfi ut iuit riutfiuit
                tfiu iu ifu uyfi ut iuit riutfiuit
                tfiu iu ifu uyfi ut iuit riutfiuit
                tfiu iu ifu uyfi ut iuit riutfiuit

            </p>
            <button class="btn btn-primary">
                Click Here
            </button>

        </div>

    </div>
</div>